#heading1{
    text-align: center;
    text-transform: capitalize;
}


#div1{
    
    background-color: rgb(60, 169, 133);
    height: 100px;
    width: 200px;
    border-color: black;
    border-style: groove;
    border-width: 3px;
    text-align: center;
}

.div{
    background-color: rgb(235, 160, 171);
    height: 100px;
    width: 100px;
    border-radius: 1px;
    text-align: left;
    padding: 10px ;  
    /* <padding from top bottom left right > */ 

    /* padding: 1px 2px 3px 4px; <padding in sequence >
    top right bottom left*/

    margin-left: 30px;
    
}

/* <!--practice test 3---> */



